.progress {
    height: 1rem;
    width: 6rem;
    border-radius: 5px;
    background-color: aliceblue;
  
    &__bar {
      height: 100%;
      // width: 2rem;
      background: linear-gradient(to right, red, orange, green);
    }
  }
  
  .ability {
    display: flex;
  }